@{
    //Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="Post" action="/Setup/Index">
    <p>Таблица авторов</p>
    <code>
        @if (ViewBag.IsEmptyAuthors)
        {
            <b>Коллекция пуста. <input type="submit" name="create_authors" value="Cоздать" /> новую?</b>
        }
        else
        {
            <b>Коллекция не пуста, обновить?</b>
        }
    </code>

    <p>Таблица книг</p>
    <code>
        @if (ViewBag.IsEmptyBooks)
        {
            <b>Коллекция пуста. <input type="submit" name="create_books" value="Cоздать" /> новую?</b>
        }
        else
        {
            <b>Коллекция не пуста, обновить?</b>
        }
    </code>

    <p>Таблица жанров</p>
    <code>
        @if (ViewBag.IsEmptyGenres)
        {
            <b>Коллекция пуста. <input type="submit" name="create_genres" value="Cоздать" /> новую?</b>
        }
        else
        {
            <b>Коллекция не пуста, обновить?</b>
        }
    </code>
    <p>Таблица цен</p>
    <code>
        @if (ViewBag.IsEmptyPrices)
        {
            <b>Коллекция пуста. <input type="submit" name="create_prices" value="Cоздать" /> новую?</b>
        }
        else
        {
            <b>Коллекция не пуста, обновить?</b>
        }
    </code>
</form>